{% extends "trabajo_colaborativo/index_generic.html" %}

{% block title %}
- Crear agrupamiento: {{modelo.nombre}}
{% endblock %}

{% block content %}

<div class="container">
    <h1>Configurar agrupamiento</h1>
    <h3>{{ modelo.nombre }}</h3>
    </br>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_table }}
    </br>
        <button type="submit">Agrupar</button>
    </form>
</div>

{% endblock %}

<!DOCTYPE html>
<html>
<head>
    <title>Configurar Agrupamiento</title>
    <!-- Incluir los estilos de Bootstrap -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
</head>
<body>
    
</body>
</html>