<!DOCTYPE html>
<html>
<head>
    <title>{{titulo}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Equipos de {{titulo}}</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nombre del Equipo</th>
                    <th>Número de Alumnos</th>
                </tr>
            </thead>
            <tbody>
                {% for equipo in equipos %}
                <tr>
                    <td><a href="{{ equipo.url }}">{{ equipo.nombre_equipo }}</a></td>
                    <td>{{ equipo.num_alumnos }}</td>   
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>
