<!DOCTYPE html>
<html>
<head>
    <title>Mi Tabla</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="display-4">{{nombre_equipo}}</h1>
        <div class="table-responsive">
            <table class="table table-striped">
                <tbody>
                    {{ tabla_html|safe }}
                </tbody>
            </table>
        </div>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>
